html {
  position: relative;
  min-height: 100%;
  height: 100%
}
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  text-align:center;  
  color: #34495e;
}
* { margin: 0; padding: 0; }

/* Login *******************************************************************/

body#page-login {
 
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 40%, rgba(0,0,0,0.6) 100%), url(../../public/img/bg.jpg); 
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%,rgba(0,0,0,0.6)), color-stop(100%,rgba(109,54,0,0.6))), url(../../public/img/bg.jpg);
  background: -webkit-radial-gradient(center, ellipse cover,   rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%), url(../../public/img/bg.jpg);
  background: -o-radial-gradient(center, ellipse cover,   rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%), url(../../public/img/bg.jpg);
  background: -ms-radial-gradient(center, ellipse cover,   rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%), url(../../public/img/bg.jpg);
  background: radial-gradient(ellipse at center,   rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%), url(../../public/img/bg.jpg);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#806d3600',GradientType=1 ); 
}
/* Login screen *******************************************************************/

.form-signin {max-width: 380px; padding: 15px; margin: 30vh auto; }
.form-signin .form-signin-heading img {max-width:50% }
.form-signin .form-control {position: relative; font-size: 16px; height: auto; padding: 10px 10px 10px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form-signin .form-control:focus {z-index: 2;}
.quinbi-login { margin: 0 auto; height: 175px; width: 175px; background: url("../img/icons/sprites.png") 0 -190px no-repeat; }
.btn-login {  text-transform: uppercase; color: #ffffff; background-color: #F1C40F; border-color: #F1C40F; border:none; margin-left:3px }
.btn.btn-login:hover, .btn.btn-login:focus, .btn-group:focus .btn.btn-login.dropdown-toggle { background-color: #F39C12; color: #FFF; }
.form-signin .user { background: url("../img/icons/sprites.png") 0 -110px no-repeat #FFF; }
.form-signin .password { background: url("../img/icons/sprites.png") 0 -150px no-repeat #FFF; }
.form-signin input[type="text"] {
    margin-bottom: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
    border: 1px
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #000;
  border: 1px
}
.form-signin-heading {color: #fff; text-align: center; text-shadow: 0 2px 2px rgba(0,0,0,0.5); }
.login-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  float:left;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}  

.add-header h4 { margin: 0 }
.add-header { position: relative; background: #1abc9c; background-size: 16px 16px; border-radius: 6px 6px 0 0; color: #34495e; padding: 19px 25px 20px; }

label.valid {
  width: 24px;
  height: 24px;
  background: url(../../public/img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
  transition:all ease 1s;
}
label.error {
  color: #FFF;
  padding:0.4em;
  transition:all ease 1s;
  font-size: 0.9em;
  background: #E74C3C;
  border-radius: 0.5em 0.5em 0.5em 0;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.5)
}

/* Home *******************************************************************/

body.page-dashboard {
  margin: 0px; position:relative; 
  color: #666;
  min-height:100vh;
  height: 100%;
  padding-bottom: 20px;
  
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 55%, rgba(109,54,0,0.3) 100%), url(../../public/img/bg4.jpg); 
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(55%,rgba(255,255,255,0)), color-stop(100%,rgba(109,54,0,0.3))), url(../../public/img/bg4.jpg);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 55%,rgba(109,54,0,0.3) 100%), url(../../public/img/bg4.jpg);
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 55%,rgba(109,54,0,0.3) 100%), url(../../public/img/bg4.jpg);

  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 55%,rgba(109,54,0,0.3) 100%), url(../../public/img/bg4.jpg);

  background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 55%,rgba(109,54,0,0.3) 100%), url(../../public/img/bg4.jpg);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#806d3600',GradientType=1 );

}

.page-dashboard .dashboard-area { 
  /*padding-top: 10vh;
  min-height: 50vh;
  margin-top: 25vh;*/
  margin: 10vh 0;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Top Menu *******************************************************************/
.topmenu {
  /* position:absolute; top:0; background:#1D1D1D; width: 100%; */
  box-shadow: 0 2px 10px rgba(0,0,0, 0.5);  
  /*padding:0.9em;*/
  color:#CCC;
  font-weight:200;
  font-size:0.8em
}
.topmenu img { height:2em; width:auto}
.topmenu a, .topmenu a:link { color:#BDC3C7; }
.topmenu a:hover { color:#F1C40F }

/* Agenda  *******************************************************************/

.agenda .card { font: 16px 'AmericanTypewriter', Cambria, Georgia; margin: 26px auto; width:95%; text-align: left; }
.agenda .card h3 { margin: 0 0 10px 0; }
.agenda .card p { border: none; line-height: 1em; text-align:left}

.modal.agenda .modal-content {
background: url(../../public/img/agendabg.jpg);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
  padding: 20px;
}
.modal.agenda .modal-header {
  background: none;
  border-radius: 6px 6px 0 0;
  padding: 19px 25px 20px;
  border: 1px dashed rgba(15, 18, 12, 1);
  border-bottom: none;
  
   color: rgba(0, 0, 0, 0.53);
  font-size: 2em;
  font-weight: 700;
  outline: 1px dashed rgba(171, 128, 112, 0.7);
  text-shadow: 0 1px 3px rgba(171, 128, 112, 0.5) , 0 -2px 4px rgba(5, 8, 2, 0.5);
}
.modal.agenda .modal-body {
  
  padding: 24px 55px 27px;
  margin-bottom: 20px;
  min-height:300px;
  position: relative;
  background: white;
  background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;

  -webkit-box-shadow: 0 5px 10px #000 , -15px 15px 15px rgba(0, 0, 0, 0.3) , 0 0 50px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px #000 , -15px 15px 15px rgba(0, 0, 0, 0.3) , 0 0 50px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px #000 , -15px 15px 15px rgba(0, 0, 0, 0.3) , 0 0 50px 10px rgba(0, 0, 0, 0.5);
}
/*
.agenda .modal-body::before { content:""; z-index:-1; margin:0 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}
.agenda .modal-body::after { content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}
*/
.head { width: 100%; height: 5em; background: #CCC; border-radius: 1em; padding: 1.5em 0.5em 0; text-align: left; border-bottom-right-radius:0; border-bottom-left-radius:0  }
.modalhead { width: 100%; height: 5em; background: #CCC; border-radius: 0.4em 0.4em 0 0; padding: 1.5em 0.5em 0;  }

/* General BLOQUES  *******************************************************************/

.seccion h1 { font-weight:100; font-size:5em; margin:-0.6em auto 1em auto; color: #EEE; text-shadow: 0 -0.015em 0.02em rgba(0,0,0,0.6); 
}
.seccion h2 { font-size: 2em; padding:0.5em; color:#FFF; text-shadow: 0 0.4em 0.2em rgba(0,0,0,0.2)  }
.seccion h3, .modalhead h3 { font-weight:100; font-size: 2em; padding:0 0.5em 0.2em; margin-top: 0; 
  width:92%; float: left; }

/* TABLAS  *******************************************************************/
.nopadding { padding-left: 0; padding-right: 0 }
.head-egresos       { background: #E74C3C; color: #FFF; }
.head-facturas      { background: #2ECC71; color: #FFF; }
.head-impuestos     { background: #D35400; color: #FFF; }
.head-dominios      { background: #1ABC9C; color: #FFF; }
.head-presupuestos  { background: #2980B9; color: #FFF; }

.box { background:#FFF; border-radius:0.5em; border-top-right-radius:0; 
  border-top-left-radius:0; height:auto; padding:2em; }

/* MODALS  *******************************************************************/
.format_texts { display: none; }
.fullinput { width: 100%; text-align: center; }

.info { clear: both; padding: 0.3em; }
.separador { height: 1px; background: #CCC; border-bottom: 1px solid #EEE; width: 100%; clear: both; margin: 1em 0 2em 0; }
.close { font-size: 30px; opacity: 0.7; margin-right: 10px; }

/* EGRESOS Modals  *******************************************************************/

#printable-area .table-bordered td, #printable-area .table-bordered th { border: 2px solid #000; }
#add-egreso .select2-container .select2-choice { margin-top: 0.2em; }
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{ margin: 0.3em; box-shadow:none; }
.chosen-select { margin-right: 5px }

@media screen and (min-width: 768px) {
  .modal-dialog { width: 700px }
}